.Header {
   text-align: center;
   color: #000000;
   font-weight: 700;
   font-size: 48px;
   margin-bottom: 3%;
   font-family: 'EB Garamond', serif;
 }

 .PieChart {
   width: 50%;
 }

 .row {
   margin-bottom: 3%;
 }

 .rowPadding {
  margin-bottom: 60px;
}